<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GDK</title>
  <link type="text/css" href="/stylesheets/styleNav.css" rel="stylesheet" />
  <link type="text/css" href="/stylesheets/styleInput.css" rel="stylesheet" />
</head>

<body>
    <% include partials/header %>
    <form action='/add_sprint/<%= title %>' method='POST' enctype='multipart/form-data' >
        <label>Ціль спринта:</label>
        <input type='text' name='goal'/><br>
        <label>Deadline:</label>
        <input type='date' name='deadline'/><br>
        <input type='submit' id="button" value="Add"><br>
    </form>
</body>

</html>