<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GDK</title>
  <link type="text/css" href="/stylesheets/styleNav.css" rel="stylesheet" />
  <link type="text/css" href="/stylesheets/styleInput.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
        $("#button").click(function(){
            $("#button").before("<form action='/add_task/<%= project.title %>' method='POST' enctype='multipart/form-data' >\
                        <label>Опис:</label>\
                        <input type='text' name='desc'/><br>\
                        <label>Назва користувацької історії:</label>\
                        <input type='text' name='stoty'/><br>\
                        <label>Тривалість:</label>\
                        <input type='number' name='days' min='1'/><br>\
                        <input type='submit' id='button' value='Add'><br>\
                    </form>");
        });
    });
    </script>
</head>

<body>
    <% include partials/header %>
            <a href="/commits/<%= project.title %>">commits</a>|
            <a href="/sprints/<%= project.title %>">sprints</a>|
            <a href="/tasks/<%= project.title %>/1">tasks</a>|
            <a href="/main">team</a>|<br>
                <%for(let i = 0;i < stories.length;i++) {%>
                    <ul>
                        <li>Title: <%= stories[i].title %></li>
                        <li>Points: <%= stories[i].points %></li>
                        <li>Importance: <%= stories[i].importance %></li>
                        <li>Notes: <%= stories[i].notes %></li>
                        <li><% if(stories[i].tasks !== null) { %>
                                <% for(let j = 0; j < stories[i].tasks.length;j++) { %>
                                    <li><%= stories[i].tasks[j].description %>: <%= stories[i].tasks[j].durationDays %> days</li>
                                <% } %>
                            <% } %>
                            <% if(stories[i].tasks.length === 0) { %>
                                В користувацьку історію ще не додали таски
                            <% } %>
                    </ul>
               <% } %>
            
</body>

</html>