<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GDK</title>
  <link type="text/css" href="/stylesheets/styleNav.css" rel="stylesheet" />
  <link type="text/css" href="/stylesheets/styleInput.css" rel="stylesheet" />
</head>

<body>
    <% include partials/header %>
            <a href="/commits/<%= project.title %>">commits</a>|
            <a href="/sprints/<%= project.title %>">sprints</a>|
            <a href="/tasks/<%= project.title %>/1">tasks</a>|
            <a href="/main">team</a>|<br>
</body>

</html>