<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GDK</title>
  <link type="text/css" href="/stylesheets/styleNav.css" rel="stylesheet" />
  <link type="text/css" href="/stylesheets/styleInput.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
        $("#btn1").click(function(){
            $("#avatar").before("<label>Логін нового учасника: </label><input type='text' name='member'/><br>");
        });
    });
</script>
</head>

<body>
    <% include partials/header %>
    <%= message %><br>
    Список можливих учасників:<br>
    <% for(let i = 0; i < users.length; i++) { %>
        <% if(users[i].role === 'noteam') { %>
            <%= users[i].username%><br>
        <% } %>
    <% } %>
    <form action='/create_team' method='POST' enctype='multipart/form-data' >
        <label>Назва команди:</label>
        <input type='text' name='title' id="title" required/><br>
        <input type='file' name='avatar' id="avatar" accept=".png, .jpg, .jpeg" required/><br>
        <input type='submit' id="button" value="Create"><br>
    </form>
    <button id="btn1">Додати учасника</button>
</body>

</html>