<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GDK</title>
  <link type="text/css" href="/stylesheets/styleNav.css" rel="stylesheet" />
  <link type="text/css" href="/stylesheets/styleInput.css" rel="stylesheet" />
</head>

<body>
    <% include partials/header %>
    <form action='/create_project' method='POST' enctype='multipart/form-data' >
        <label>Назва проекту:</label>
        <input type='text' name='title'/><br>
        <label>Опис проекту:</label>
        <input type='text' name='description'/><br>
        <label>Репозиторій на Github:</label>
        <input type='text' name='repo'/><br>
        <input type='submit' id="button" value="Create"><br>
    </form>
</body>

</html>