<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GDK</title>
  <link type="text/css" href="/stylesheets/styleNav.css" rel="stylesheet" />
  <link type="text/css" href="/stylesheets/styleInput.css" rel="stylesheet" />
</head>

<body>
    <% include partials/header %>
    <a href="/commits">commits</a>|
    <a href="/lectures">lectures</a>|
    <a href="/files">files</a>|
    <a href="/sprints">sprints</a>|
    <a href="/board">board</a>|
    <a href="/main">team</a>|<br>
    
</body>

</html>