<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GDK</title>
  <link type="text/css" href="/stylesheets/styleNav.css" rel="stylesheet" />
  <link type="text/css" href="/stylesheets/styleInput.css" rel="stylesheet" />
</head>

<body>
    <% include partials/header %> 
    <form action='/login' method='POST'>
        <label>Username:</label>
        <input type='text' name='username' value=""/><br>
        <label>Password:</label>
        <input type='password' name='password' value=""/><br>
        <input type='submit' id="button" value="Log in"><br>
    </form>
</body>

</html>