<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GDK</title>
  <link type="text/css" href="/stylesheets/styleNav.css" rel="stylesheet" />
  <link type="text/css" href="/stylesheets/styleInput.css" rel="stylesheet" />
</head>

<body>
    <% include partials/header %>
    <% for(let i = 0; i < invTeams.length;i++) { %>
        <% let title = invTeams[i].title; %>
        <a href="/join/<%= title %>">Join team <%= title %></a><br>
    <% } %>
</body>

</html>