<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GDK</title>
  <link type="text/css" href="/stylesheets/styleNav.css" rel="stylesheet" />
  <link type="text/css" href="/stylesheets/styleInput.css" rel="stylesheet" />
</head>

<body>
    
    <% include partials/header %>
    <% if(!team) { %>
        <a href="/create_team">Створити нову команду</a><br>
        <a href="/join_team">Приєднатися до існуючої</a>
    <% } else { %>
    <% if(team.project.title === null) { %>
            Ви ще не створили <a href="/create_project">проект</a><br>
            Створювати проект може тільки Product Owner! <br>
        <% } else { %>
            <a href="/commits/<%= team.project.title %>">commits</a>|
            <a href="/sprints/<%= team.project.title %>">sprints</a>|
            <a href="/tasks/<%= team.project.title %>/1">tasks</a>|
            <a href="/main">team</a>|<br>
        <% } %>
    <img src="data:<%= team.avatar.contentType%>;base64,<%= team.avatar.data.toString('base64')%>"><br>
        Title: <%= team.title %><br>
        Members: <br>
        Product owner: <a href="/profile/<%= team.owner %>"><%= team.owner %></a><br>
        <% for(let i = 0; i < team.members.length; i++) { %>
        <div>
            <a href="/profile/<%= team.members[i].username %>"><%= team.members[i].username %><br></a>
           <% if(user.role === "productowner" && team.members[i].role === 'no_role_confirmed') { %>
                <form action='/update_userrole/<%= team.title %>' method='GET' enctype='multipart/form-data'>
                    <select name="role" id="role">
                        <option value="Scrummaster" selected>Scrum master</option>
                        <option value="Teamlead">Team lead</option>
                        <option value="Developer">Developer</option>
                        <option value="QA Lead">QA Lead</option>
                        <option value="QA Engineer">QA Engineer</option>
                    </select>
                    <input type="hidden" name="username" value="<%= team.members[i].username %>">
                    <input type="submit" id="button" value="Change"> 
                </form>
           <% } else { %>
                <% if(team.members[i].role !== 'no_role') { %>
                    <% if(team.members[i].role === 'no_role_confirmed') {%>
                        Product owner ще не визначив роль цього користувача
                    <% } else {%>
                        <%= team.members[i].role %>
                    <% } %>
                <% } else { %>
                    Не приєднався до команди
                <% } %>
           <% } %>
        </div>
        <hr>
        <% } %>
    <% } %>
</body>

</html>