<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GDK</title>
  <meta name="description" content="MY FIRST SITE DESCRIPTION">
  <meta name="author" content="MY NAME">
  <link type="text/css" href="/stylesheets/styleAdd.css" rel="stylesheet" />
  <link type="text/css" href="/stylesheets/styleNav.css" rel="stylesheet" />
</head>

<body>
    <% include partials/header %>
    You are not authorized. Please log in or register!
</body>

</html>