<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GDK</title>
  <link type="text/css" href="/stylesheets/styleNav.css" rel="stylesheet" />
  <link type="text/css" href="/stylesheets/styleInput.css" rel="stylesheet" />
</head>

<body>
    <% include partials/header %>
    <form action='/update_ava' method='POST' enctype='multipart/form-data'>
        <input type="file" name="avatar" accept=".png, .jpg, .jpeg"/><br>
        <input type='submit' id="button" value="Ok"><br>
    </form>

    Логін:<%= user.username %><br>
    Email:<%= user.email %><br>
    Github репозиторій: <%= user.github %><br>
    Прізвище та Ім'я: <%= user.surname %><br>
    Команда: <%= user.team %><br>
    <img src="data:<%= user.avatar.contentType%>;base64,<%= user.avatar.data.toString('base64')%>">
</body>

</html>