<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GDK</title>
  <link type="text/css" href="/stylesheets/styleNav.css" rel="stylesheet" />
  <link type="text/css" href="/stylesheets/styleInput.css" rel="stylesheet" />
</head>

<body>
    <% include partials/header %> 
    <%= message %>
    <form action='/register' method='POST'>
        <label>Прізвище та Ім'я:</label>
        <input type='text' name='surname'/><br>
        <label>Username:</label>
        <input type='text' name='username' required/><br>
        <label>Email:</label>
        <input type='text' name='email'/><br>
        <label>Github usename:</label>
        <input type='text' name='github' required/><br>
        <label>Пароль:</label>
        <input type='password' name='pass' required/><br>
        <label>Повторіть пароль:</label>
        <input type='password' name='pass2' required/><br>
        <input type='submit' id="button" value="Sign up"><br>
    </form>
</body>

</html>