<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GDK</title>
  <link type="text/css" href="/stylesheets/styleNav.css" rel="stylesheet" />
  <link type="text/css" href="/stylesheets/styleInput.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
        $("#story").click(function(){
            $("#story").before("<form action='/add_story/<%= project.title %>' method='POST' enctype='multipart/form-data' >\
                        <label>Назва:</label>\
                        <input type='text' name='title'/><br>\
                        <label>Номер спринта:</label>\
                        <input type='number' name='sprint' min='1' max='<%= project.sprints.length %>'/><br>\
                        <label>Importance:</label>\
                        <input type='number' name='imp' min='1' max='10'/><br>\
                        <label>Points:</label>\
                        <input type='number' name='points' min='1' max='10'/><br>\
                        <label>Notes:</label>\
                        <input type='notes' name='notes'/><br>\
                        <input type='submit' id='button' value='Add'><br>\
                    </form>");
        });
    });
</script>
</head>

<body>
    <% include partials/header %>
            <a href="/commits/<%= project.title %>">commits</a>|
            <a href="/sprints/<%= project.title %>">sprints</a>|
            <a href="/tasks/<%= project.title %>/1">tasks</a>|
            <a href="/main">team</a>|<br>
            <% if(project.sprints.length === 0) { %>
                Для початку роботи заплануйте та <a href="/add_sprint/<%= project.title %>">створіть</a> новий спринт<br>
            <% } else { %>
               <% for(let i = 0;i < project.sprints.length;i++){ %>
                    Спринт №<%= i+1 %><br>
                    Ціль спринта: <%= project.sprints[i].goal %><br>
                    Deadline: <%= project.sprints[i].deadline %><br>
                <% } %>
            <% } %>

            <a href="/tasks/<%= project.title %>/1">Користувацькі історії</a>|
            <button id="story">Нова користувацька історія</button><br><br>
            Project title: <%= project.title %><br>
            description: <%= project.description %><br>
            Teamlead: <%= project.teamlead.username %><br>
            <a href="https://github.com/<%= project.teamlead.github %>/<%= project.repo %>">Репозиторій</a>
</body>

</html>