input,select {
    border: 1px solid #3498DB;
    border-radius: 5px; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    -khtml-border-radius: 5px; 
    background: #ffffff; 
    height: 30px; 
    width: 300px; 
    color:black; 
    font-size: 20px;
    font-family: bold, Helvetica;
    padding-left: 5px;
    margin-bottom: 5px;
 }

 form {
    font-size: 20px;
    font-family: bold, Helvetica;  
    margin-left: 25%;
    margin-top: 10px;
 }
 
 #button:hover{
    background-color: #3498DB;
    color:white
}