<nav>GDK 
        <% if (user) { %>
            <span><a href='/profile/<%= user.username%>'><%= user.username %></a></span>
            <span><a href='/logout/<%= user._id%>'>Log out</a></span>
        <% } else { %>
            <span><a href='/register'>Registration</a></span>
            <span><a href='/'>Log in</a></span>
        <% } %>
</nav>